<%- include('includes/head.ejs')%>
</head>
<body>
   <%-include('includes/navigation.ejs')%>
    <div>
        <h2>Page Not Found Pleas Return To Home Page</h2>
        <img src="https://media.giphy.com/media/3jN3GziOKUEmI/giphy.gif" alt="page not found">
    </div>
<%-include('includes/end.ejs')%>