.login-form-control,
.signUp-form-control{
    width: 50%;
    background-color: rgb(106, 214, 228);
    margin:20px auto;
    text-align: center;
    padding: 20px;
}
/* .login-input-container{
    margin: 10px;
} */

.login-input-container label,
.signUp-input-container label{
    display: block;
}
.login-input-container input,
.signUp-input-container input{
    display:inline;
    margin: 10px auto;
}